<main id="main">
    <div class="title">
        <p><%= @title %></p>
    </div>

    <div class="separation_line">
        <hr>
    </div>

    <div class="about_questions">
        <h1>Klausimas</h1>
        <p>Atsakymas</p>
        <h1>Klausimas</h1>
        <p>Atsakymas</p>
        <h1>Klausimas</h1>
        <p>Atsakymas</p>
    </div>
</main>