<main id="main">
    <div class="title">
        <p><%= @title %></p>
    </div>

    <div class="separation_line">
        <hr>
    </div>

    <div id="contacts_table">
        <table>
            <tr>
                <td>
                    <a href="https://www.facebook.com/"><img width="150px" src="facebook.png" alt="facebook"></a>
                </td>
                <td>
                    <a href="https://www.twitter.com/"><img width="150px" src="twitter.png" alt="twitter"></a>
                </td>
                <td>
                    <a href="https://www.instagram.com/"><img width="150px" src="instagram.png" alt="instagram"></a>
                </td>
            </tr>
            <tr>
                <td>
                    <p><a style="text-decoration: none;color:#6b6868;" href="#">@Traveler</a></p>
                </td>
                <td>
                    <p><a style="text-decoration: none;color:#6b6868;" href="#">@Traveler</a></p>
                </td>
                <td>
                    <p><a style="text-decoration: none;color:#6b6868;" href="#">@Traveler</a></p>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <p style="margin-top: 40px;">traveler@gmail.com</p>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <p>+37066600888</p>
                </td>
            </tr>
        </table>

        <table style="border-spacing: 0 50px; margin-bottom: 50px">
            <tr>
                <td>
                    <img width="300" height="300" src="office_worker_1.jpg" alt="alex_jones">
                </td>
                <td style="text-align: left">
                    <p style="font-size: 150%;">Direktorius</p><br>
                    <p>Petras</p>
                    <p>+37068459505</p>
                    <p>petras.petraitis@gmail.com</p>
                </td>
                <td style="padding-left: 200px;">
                    <img width="300" height="300" src="office_worker_2.jpg" alt="alex_jones">
                </td>
                <td style="text-align: left">
                    <p style="font-size: 150%;">Buhalterė</p><br>
                    <p>Kristina</p>
                    <p>+37067536912</p>
                    <p>kristina@gmail.com</p>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    <img width="300" height="300" src="office_worker_3.jpg" alt="alex_jones">
                </td>
                <td style="text-align: left;">
                    <p style="font-size: 150%;">Vadybininkas</p><br>
                    <p>Tomas</p>
                    <p>+37066423578</p>
                    <p>tomas@gmail.com</p>
                </td>
                <td style="padding-left: 200px;">
                    <img width="300" height="300" src="office_worker_4.jpg" alt="alex_jones">
                </td>
                <td style="text-align: left;">
                    <p style="font-size: 150%;">Administratorius</p><br>
                    <p>Linas</p>
                    <p>+37063355881</p>
                    <p>linas@gmail.com</p>
                </td>
            </tr>
        </table>
    </div>
</main>