<div id="main">
    <main>
        <div class="title">
            <p>Populiariausios kelionės</p>
        </div>
        <hr>
        <article class="article">
            <div class="left">
                <a href="#"><img src="brittany-france.jpg" alt="brittany-france"></a>
                <p>Bretanė, Prancūzija<br><%= @popular_left_price %>€</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="right">
                <a href="#"><img src="costa_del_sol-spain.jpg" alt="costa_del_sol-spain"></a>
                <p>Costa Del Sol, Ispanija<br><%= @popular_right_price %>€</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </article>

        <div class="title">
            <p>Pigiausios kelionės</p>
        </div>
        <hr>
        <div class="article">
            <div class="left">
                <a href="#"><img src="koh_samui-thailand.jpg" alt="koh_samui-thailand"></a>
                <p style="margin: 0">Koh Samui, Tailandas</p>
                <p><span class="price">999.00€</span> 799.00€</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="right">
                <a href="#"><img src="menorca-spain.jpg" alt="menorca-spain"></a>
                <p style="margin: 0">Menorka, Ispanija</p>
                <p><span class="price">899.00€</span> 459.00€</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>

        <div class="title">
            <p>Sezoninės kelionės</p>
        </div>
        <hr>
        <div class="article">
            <div class="left">
                <a href="#"><img src="negombo-sri_lanka.jpg" alt="negombo-sri_lanka"></a>
                <p>Negombo, Šri Lanka<br>659.00€</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="right">
                <a href="#"><img src="valletta-malta.jpg" alt="valletta-malta"></a>
                <p>Valeta, Malta<br>899.00€</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </main>
</div>